body
{
  background-color: #202;
  font-size: 1.7em;
  font-weight: 700;
  font-family: monospace;
}
#top
{
  width:100%;
}
#header
{
  color: blue;
  text-align: center;
  border: 1px blue solid;
  width: 70%;
  margin-left: 15%;
  background-color: #111;
}
#userInput
{
  font-family: monospace;
  width: 99%;
  margin-left: .5%;
  background-color: #ccc;
  color: black;
}
#title
{
  margin: 0px;
  border: 3px blue solid;
  border-top-style: none;
  width: 42%;
  margin-left: 27%;
}
#quote
{
  margin: 1px;
  padding:3%;
  padding-bottom: 1%;
  text-align: center;
  background: url("https://media.mnn.com/assets/images/2016/07/unimap.jpg.653x0_q80_crop-smart.jpg");
  background-size: 100% 100%;
  color: white;
  font-size: 1.5em;
  font-weight: 800;
}
#list
{
  font: 400 3em/0.8 'Great Vibes', Helvetica, sans-serif;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.5);
  width: 70%;
  margin-left: 15%;
  text-align: center;
  background-color: #666;
}
p
{
  margin:0px;
}
p:nth-child(even)
{
  background-color: #333;
}
