body
{
  background-color: #222;
}
#header
{
  color: blue;/*later will be a js variable*/
  text-align: center;
  font-size: 1.7em;
  font-weight: 700;
  border: 1px blue solid;
  width: 70%;
  margin-left: 15%;

}
#userInput
{
  width: 99%;
  margin-left: .5%;

}
#title
{
  margin: 0px;
  border: 3px blue solid;
  border-top-style: none;
  width: 42%;
  margin-left: 27%;
}
#quote
{
  width: 90%;
  margin-left: 5%;
}
